BODY {
	COLOR: #000000; FONT: 78% verdana,arial,helvetica;
	BACKGROUND: #ccFFcc; /* MARGIN-RIGHT: 100px; */
    max-width: 1000px;
}
DIV.clsDocBody {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; MARGIN-TOP: 10px
}
DIV.clsFooter {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; MARGIN-TOP: 10px
}
DIV.clsFPfig {
	FONT-SIZE: 80%
}
TD {
	FONT-SIZE: 78%
}
TH {
	FONT-SIZE: 78%
}
A:link {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #6699cc; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
H2 A:visited {
	COLOR: #003399
}
H3 A:visited {
	COLOR: #003399
}
A.clsIncCpyRt {
	COLOR: #000000; FONT-SIZE: 95%
}
A.clsIncCpyRt:hover {
	COLOR: #0028de
}
A.clsBackTop {
	COLOR: black; FONT-SIZE: 90%; MARGIN-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-BOTTOM: 0px
}
A.clsBackTop:visited {
	COLOR: black; FONT-SIZE: 90%; MARGIN-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-BOTTOM: 0px
}
A.clsBackTop:hover {
	COLOR: blue
}
P {
	LINE-HEIGHT: 1.5em; MARGIN-BOTTOM: 1em; MARGIN-TOP: 0.5em
}
P.clsRef {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0em; MARGIN-TOP: 12pt
}
PRE {
	BACKGROUND: #eeeeee; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0px; MARGIN-TOP: 1em; PADDING-BOTTOM: 5pt; PADDING-LEFT: 5pt; PADDING-RIGHT: 5pt; PADDING-TOP: 5pt;
	FONT: 110% "Lucida Console";
}
PRE.clsCode {
	/* FONT: Verdana,'Lucida Console',courier,serif; FONT-SIZE: 150% */
}
CODE {
	FONT: 100% "Lucida Console";
	/* FONT: verdana,'Lucida Console',courier,serif; FONT-SIZE: 150% */
}
PRE.clsSyntax {
	/* FONT: verdana,arial,helvetica,sans-serif; FONT-SIZE: 125% */
}
H1 {
	FONT: 165% verdana,arial,helvetica; MARGIN: 0px 0px 5px;
	COLOR: #0000CC;
}
H2 {
	FONT: bold 125% verdana,arial,helvetica; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 1em;
	COLOR: #0000CC;
}
H2.clsOsigHead {
	COLOR: #3366cc; FONT-FAMILY: arial, helvetica, sans-serif; FONT-SIZE: 125%; MARGIN-BOTTOM: 0em; MARGIN-TOP: 1em;
	COLOR: #0000CC;
}
H2.clsBlue {
	COLOR: #336699
}
H3 {
	FONT: bold 115% verdana,arial,helvetica; MARGIN-BOTTOM: 0.5em;
	COLOR: #0000CC;
}
H4 {
	FONT: bold 100% verdana,arial,helvetica; MARGIN-BOTTOM: 0.5em;
	COLOR: #0000CC;
}
H5 {
	FONT: bold 100% verdana,arial,helvetica; MARGIN-BOTTOM: 0.5em;
	COLOR: #0000CC;
}
H6 {
	FONT: bold 100% verdana,arial,helvetica; MARGIN-BOTTOM: 0.5em;
	COLOR: #0000CC;
}
TABLE.clsNavTbl {
	MARGIN-LEFT: 10px
}
TABLE.clsNavTbl TH {
	FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 60%
}
TABLE.clsNavTbl TD {
	FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 60%
}
TABLE.clsNavTbl TH {
	PADDING-BOTTOM: 0px
}
TABLE.clsTblHomeLeft A {
	COLOR: #003399; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%
}
TABLE.clsTblHomeLeft A:visited {
	COLOR: #003399; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%
}
TABLE.clsTblHomeLeft A:hover {
	COLOR: #003399; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%
}
TABLE.clsTblHomeLeft A:hover {
	TEXT-DECORATION: underline
}
TABLE.clsStd TH {
	BACKGROUND-COLOR: #ddd; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
TABLE.clsStd TD {
	BACKGROUND-COLOR: #eee; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; VERTICAL-ALIGN: top
}
TABLE.clsParamVls {
	PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TABLE.clsParamVls TD {
	PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
UL {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 17px; MARGIN-TOP: 10px
}
UL.clsBltBlu {
	LIST-STYLE: url(/msdn-online/shared/graphics/bulletblue.gif)
}
UL.clsBltRed {
	LIST-STYLE: url(/msdn-online/shared/graphics/bulletred.gif)
}
OL {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px; MARGIN-TOP: 10px
}
UL LI {
	LINE-HEIGHT: 120%; MARGIN-BOTTOM: 0.5em
}
UL LI LI {
	LIST-STYLE: disc
}
OL LI {
	MARGIN-BOTTOM: 0.7em
}
DIV.clsVoicesBody {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
TABLE.clsVoicesHead {
	MARGIN-TOP: 4px
}
TD.clsCategory {
	FONT: bold 65% verdana,arial,helvetica,sans-serif
}
TD.clsVoiceNav {
	BACKGROUND-IMAGE: url(/msdn-online/voices/graphics/background.jpg); PADDING-TOP: 4px
}
TD.clsVoiceNav DIV {
	FONT-SIZE: 90%; PADDING-TOP: 4px
}
TD.clsVoiceNav A:visited {
	COLOR: #003399
}
TD.clsVoiceNav SPAN.clsLeftNavDot {
	FONT-SIZE: 100%; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 80%
}
TD.clsArchiveTD {
	PADDING-LEFT: 20px; PADDING-TOP: 20px
}
TD.clsArchiveTD {
	FONT: 78% verdana,arial,helvetica,sans-serif
}
H3.clsVoicesHead {
	MARGIN-BOTTOM: 1.5em; PADDING-TOP: 6px
}
TD.clsStoryTD {
	PADDING-RIGHT: 6px; PADDING-TOP: 4px
}
TH.clsStoryTD {
	PADDING-RIGHT: 6px; PADDING-TOP: 4px
}
DIV.clsByLine {
	FONT-SIZE: 80%; LINE-HEIGHT: 120%; PADDING-TOP: 2px
}
SPAN.pubdate {
	COLOR: #999999
}
SPAN.pd {
	COLOR: #999999
}
SPAN.clsPubdate {
	COLOR: #999999
}
TD.clsPubDate {
	COLOR: #999999
}
P.clsPubDate {
	COLOR: #999999
}
TABLE.clsCatItems TD.clsPubDate {
	PADDING-TOP: 4px
}
TD.clsPubDate {
	PADDING-TOP: 10px
}
TABLE.clsCatItems {
	MARGIN-TOP: 5px
}
TABLE.clsCatItems P {
	MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
P.clsPostDate {
	COLOR: #0099ff
}
DIV.clsPullQuote {
	COLOR: #3366ff; FONT: italic 110%/140% verdana,arial,helvetica,sans-serif; PADDING-BOTTOM: 0.5em
}
DIV.clsPullQuote HR {
	COLOR: #3366ff; FONT: italic 110%/140% verdana,arial,helvetica,sans-serif; PADDING-BOTTOM: 0.5em
}
TD.clsTDBody SPAN.clsHighlightItem {
	LINE-HEIGHT: 1.5em
}
SPAN.clsHighlightItem A {
	FONT-SIZE: 120%
}
.clsNewsContent {
	DISPLAY: none
}
.clsTab {
	BACKGROUND-COLOR: #3366cc; COLOR: #ffffff; CURSOR: hand; FONT: bold 65% verdana,arial,helvetica,sans-serif
}
.clsTabSelected {
	BACKGROUND-COLOR: #99ccff; COLOR: #000000; CURSOR: hand; FONT: bold 65% verdana,arial,helvetica,sans-serif
}
.clsNewsItemTD {
	PADDING-TOP: 4px
}
TD.clsLToc A {
	COLOR: black; CURSOR: hand; TEXT-DECORATION: none
}
TD.clsLToc A:hover {
	COLOR: black; CURSOR: hand; TEXT-DECORATION: none
}
TD.clsLToc A:visited {
	COLOR: black; CURSOR: hand; TEXT-DECORATION: none
}
TD.clsLToc B {
	COLOR: black; CURSOR: hand; TEXT-DECORATION: none
}
TD.clsLToc A:hover {
	COLOR: red
}
SPAN.st {
	FONT-SIZE: 100%; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 120%
}
UL.clsShowHide LI {
	CURSOR: hand; FONT-WEIGHT: bold; LIST-STYLE: url(/msdn-online/shared/graphics/plus.gif); PADDING-TOP: 2px
}
UL.clsShowHide DIV {
	FONT-WEIGHT: normal; PADDING-TOP: 4px
}
UL.clsShowHide A:visited {
	COLOR: #003399
}
DIV.clsHide {
	DISPLAY: none
}
UL.clsShowHide LI.clsHide {
	LIST-STYLE: url(/msdn-online/shared/graphics/plus.gif)
}
DIV.clsShow {
	CURSOR: text; DISPLAY: block
}
DIV.clsShow P {
	LINE-HEIGHT: 120%; MARGIN-BOTTOM: 4px; MARGIN-TOP: 6px
}
UL.clsShowHide LI.clsShow {
	LIST-STYLE: url(/msdn-online/shared/graphics/minus.gif)
}
TD.clsBigNav A:visited {
	COLOR: #003399
}
TD.clsBigNav A:hover {
	COLOR: red; TEXT-DECORATION: none
}
TD.clsBigNav {
	CURSOR: hand; FONT-SIZE: 108%; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
TD.clsBigNavSel {
	CURSOR: auto; FONT-SIZE: 108%; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
A#idToggleAll {
	COLOR: #003399; FONT-WEIGHT: bold
}
A#idToggleAll IMG {
	VERTICAL-ALIGN: bottom
}
#lnkPrevText {
	COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#lnkNextText {
	COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#lnkUpText {
	COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
DIV.clsBucketBranch {
	FONT-STYLE: italic; MARGIN: 10px
}
DIV.clsBucketBranch A {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:link {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:active {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:visited {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:hover {
	COLOR: blue
}
TD.clsGrayTop {
	BORDER-BOTTOM: 0px; BORDER-TOP: #cccccc 1px solid; COLOR: black; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
TD.clsRaised {
	BORDER-BOTTOM: #003366 1px solid; BORDER-TOP: #99ccff 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
TD.clsDarkRaised {
	BORDER-BOTTOM: #000000 1px solid; BORDER-TOP: #6699cc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
TD.clsSunken {
	BORDER-BOTTOM: #99ccff 1px solid; BORDER-TOP: #003366 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
TD.clsBBarSunken {
	BORDER-BOTTOM: #99ccff 1px solid; BORDER-TOP: #003366 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
TD.clsBBarRaised {
	BORDER-BOTTOM: #000033 1px solid; BORDER-TOP: #99ccff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
TD.clsLightGreen {
	COLOR: #ccffcc; FONT-STYLE: italic; FONT-WEIGHT: normal
}
TD.clsBtnUp {
	BORDER-BOTTOM: #99ccff 2px outset; BORDER-LEFT: #99ccff 2px outset; BORDER-RIGHT: #99ccff 2px outset; BORDER-TOP: #99ccff 2px outset; COLOR: #ffffff; CURSOR: hand; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 0px
}
TD.clsBtnDown {
	BORDER-BOTTOM: #99ccff 2px inset; BORDER-LEFT: #99ccff 2px inset; BORDER-RIGHT: #99ccff 2px inset; BORDER-TOP: #99ccff 2px inset; COLOR: #ffffff; CURSOR: hand; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 0px
}
TD.clsBtnOn {
	BACKGROUND-COLOR: #003366; BORDER-BOTTOM: #6699cc 2px inset; BORDER-LEFT: #6699cc 2px inset; BORDER-RIGHT: #6699cc 2px inset; BORDER-TOP: #6699cc 2px inset; COLOR: #ffffff; CURSOR: hand; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 0px
}
TD.clsBtnOff {
	BORDER-BOTTOM: #6699cc 2px solid; BORDER-LEFT: #6699cc 2px solid; BORDER-RIGHT: #6699cc 2px solid; BORDER-TOP: #6699cc 2px solid; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; tab-index: 0
}
TABLE.clsRating TD {
	BACKGROUND-COLOR: white; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#pBackTop {
	DISPLAY: none
}
TABLE.clsNavLinks A:hover {
	TEXT-DECORATION: none
}
TABLE.clsNavLinks {
	CLEAR: both
}
#txtCharCount {
	BACKGROUND-COLOR: white; BORDER-BOTTOM: #cccccc 2px ridge; BORDER-LEFT: #cccccc 2px ridge; BORDER-RIGHT: #cccccc 2px ridge; BORDER-TOP: #cccccc 2px ridge; COLOR: red; FONT-WEIGHT: bold; HEIGHT: 1.5em; OVERFLOW: hidden; TEXT-ALIGN: right; WIDTH: 3.7em
}
TABLE.clsCmtEntryTbl TD {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 3px
}
SPAN.clsLeftNavDot {
	COLOR: red; FONT-SIZE: 115%; LINE-HEIGHT: 1
}
DIV.clsExpanded {
	COLOR: black; DISPLAY: inline; WIDTH: 100%
}
A.clsExpanded {
	COLOR: black; DISPLAY: inline; WIDTH: 100%
}
DIV.clsCollapsed {
	DISPLAY: none
}
A.clsCollapsed {
	DISPLAY: none
}
SPAN.clsPropattr {
	FONT-WEIGHT: bold
}
#pStyles {
	CURSOR: hand; DISPLAY: none; TEXT-DECORATION: underline
}
#pCode {
	CURSOR: hand; DISPLAY: none; TEXT-DECORATION: underline
}
#pSyntax {
	CURSOR: hand; DISPLAY: none; TEXT-DECORATION: underline
}
#pEvents {
	CURSOR: hand; DISPLAY: none; TEXT-DECORATION: underline
}
#pStyles {
	CURSOR: hand; DISPLAY: none; TEXT-DECORATION: underline
}
#idToolbar {
	FONT-SIZE: 10pt
}
#idToolbar A:hover {
	TEXT-DECORATION: none
}
A.clsDisabled {
	COLOR: black; CURSOR: text; TEXT-DECORATION: none
}
A.clsEnabled {
	CURSOR: auto
}
SPAN.clsAccess {
	TEXT-DECORATION: underline
}
TABLE.clsIndex {
	MARGIN-TOP: 17pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TABLE.clsIndex TD {
	BACKGROUND-COLOR: #eeeeee; MARGIN: 3pt
}
TR.clsEntry {
	VERTICAL-ALIGN: top
}
TABLE.clsIndex TD.clsLetters {
	BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
TD.clsMainHead {
	BACKGROUND-COLOR: #ffffff; FONT-SIZE: 145%; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 1.35em; VERTICAL-ALIGN: top
}
UL.clsIndex {
	MARGIN-BOTTOM: 5pt; MARGIN-LEFT: 20pt; MARGIN-TOP: 0pt
}
LI OL {
	PADDING-BOTTOM: 1.5em
}
A.clsLeftMenu {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.clsLeftMenu:visited {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
BUTTON.clsShowme {
	BACKGROUND-COLOR: #002f90; COLOR: #ffffff; FONT-FAMILY: arial; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 23px; POSITION: relative; TOP: 2px; WIDTH: 68px
}
BUTTON.clsShowme5 {
	BACKGROUND-COLOR: #002f90; COLOR: #ffffff; FONT-FAMILY: arial; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 23px; POSITION: relative; TOP: 2px; WIDTH: 68px
}
DIV.clsBeta {
	COLOR: red; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 0.5em
}
DIV.clsHi {
	PADDING-LEFT: 2em; TEXT-INDENT: -2em
}
BUTTON.clsShowme {
	MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 0.5em
}
BUTTON.clsShowme5 {
	MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 0.5em
}
DIV.clsShowme {
	MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 0.5em
}
SPAN.clsDefValue {
	FONT-FAMILY: 'Lucida Console'; FONT-WEIGHT: bold
}
TD.clsDefValue {
	FONT-FAMILY: 'Lucida Console'; FONT-WEIGHT: bold
}
SPAN.clsLiteral {
	FONT-FAMILY: 'Lucida Console'
}
TD.clsLiteral {
	FONT-FAMILY: 'Lucida Console'
}
SPAN.clsRange {
	FONT-STYLE: italic
}
TD.clsRange {
	FONT-STYLE: italic
}
SPAN.clsEntryText {
	FONT-SIZE: 8pt; LINE-HEIGHT: 12pt
}
SPAN.clsHeading {
	COLOR: #00319c; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
DIV.clsNote {
	BACKGROUND-COLOR: #eeeeee; MARGIN-BOTTOM: 4pt
}
SPAN.clsFmtLib {
	TEXT-TRANSFORM: lowercase
}
SPAN.clsFmtInc {
	TEXT-TRANSFORM: lowercase
}
SPAN.clsFmtIDL {
	TEXT-TRANSFORM: lowercase
}
SPAN.clsFmtDLL {
	TEXT-TRANSFORM: lowercase
}
#tblSiteMap DIV {
	LINE-HEIGHT: 120%
}
#idToc A.clsTocHeading {
	COLOR: black; TEXT-DECORATION: none
}
#idToc A.clsTocHeading:hover {
	COLOR: red
}
#idToc A.clsTocItem {
	COLOR: black; TEXT-DECORATION: none
}
#idToc A.clsTocItem:hover {
	COLOR: red
}
#idToc A.clsTocItemSelect {
	COLOR: black; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#idToc A.clsTocItemSelect:hover {
	COLOR: black
}
#idToc UL {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 24px; MARGIN-TOP: 0px
}
#idToc UL UL LI {
	MARGIN-LEFT: -24px; MARGIN-TOP: 0.1em
}
#idToc .noexpand {
	LIST-STYLE: url(/msdn-online/shared/graphics/solid.gif)
}
#idToc .clsNoExpand {
	LIST-STYLE: url(/msdn-online/shared/graphics/solid.gif)
}
#idToc .clsShowHide {
	CURSOR: hand; LIST-STYLE: url(/msdn-online/shared/graphics/plus.gif)
}
#idToc .clsShowHideShowing {
	CURSOR: hand; LIST-STYLE: url(/msdn-online/shared/graphics/minus.gif)
}
#idToc UL.clsItemsShow {
	LIST-STYLE: url(/msdn-online/shared/graphics/arrowstop.gif)
}
#idToc UL.clsItemsHide {
	DISPLAY: none
}
#idToc .clsStyleCheck {
	MARGIN-LEFT: 15px; MARGIN-TOP: 5px
}
#idToc .clsStyleText {
	CURSOR: default; FONT-SIZE: 10px; MARGIN-LEFT: 34px; MARGIN-TOP: -16px
}
UL.clsItemsShow {
	MARGIN-TOP: 5px
}
UL.clsItemsShow LI {
	MARGIN-LEFT: -17px; MARGIN-TOP: 5px
}
A.clsTocHeading {
	LINE-HEIGHT: 130%
}
UL.clsItemsShow LI A {
	COLOR: #000000
}
UL.clsItemsShow A:visited {
	COLOR: #000000
}
A.clsTocHeading {
	COLOR: #000000
}
A.clsTocHeading:visited {
	COLOR: #000000
}
UL.clsItemsShow LI A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.clsTocHeading:hover {
	COLOR: red; TEXT-DECORATION: none
}
